<app-main-header></app-main-header>
<div class="min-h-screen">
  <div class="w-full">
    <div class="w-1/3 bg-indigo-100 mx-auto mt-10 rounded-lg">
      <div class="text-4xl bg-purple-300 w-auto h-2/3 rounded-lg pb-3 text-center">
        <h1>Profile</h1>
      </div>
      <div class="px-4">
        <form #infoForm="ngForm" (ngSubmit)="updateDoctorInfo(currentUser.id)" >
          <table class="w-4/5 mx-auto mt-6">
            <tr>
              <td class="title">Name:</td>
              <td><input #name type="text" value="{{currentUser?.name}}" (keyup)="setFormName(name.value)"
                ></td>
            </tr>
            <tr>
              <td class="title">Email:</td>
              <td><input #email type="text" value="{{currentUser?.email}}" (keyup)="setFormEmail(email.value)"></td>
            </tr>
            <tr>
              <td class="title">Address:</td>
              <td><input #address type="text" value="{{currentUser?.address}}" (keyup)="setFormAddress(address.value)"></td>
            </tr>
            <tr>
              <td class="title">Date of birth:</td>
              <td><input #dob type="date" value="{{currentUser?.dateOfBirth | date:'yyyy-MM-dd'}}" (input)="setFormDateOfBirth(dob.value)"></td>
            </tr>
          </table>
          <button class="submit-btn">Update</button>
        </form>
        <p-toast [style]="{marginTop: '80px'}"></p-toast>
        <br />
      </div>
    </div>
  </div>
</div>
<app-main-footer></app-main-footer>