:host ::ng-deep {
    .p-disabled, .p-component:disabled {
        background-color: lightyellow;
    }
}
label {
    font-size: larger;
    font-weight: bold;
}
.field{
    display: grid;
    width: 50%;
    margin: 0 auto !important;
}