<app-main-header></app-main-header>
<div class="min-h-screen">
  <div class="w-auto">
    <div class="w-3/5 mx-auto">
      <p-tabView>
        <p-tabPanel header="Coming">
          <p-table [value]="comingAppointment" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
              <tr>
                <th>Patient</th>
                <th>Date</th>
                <th>Hour</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-appointment>
              <tr>
                <td>{{appointment.patientName}}</td>
                <td>{{appointment.date | date}}</td>
                <td *ngIf="appointment.hour">{{appointment.hour}}:00</td>
                <td>{{appointment.statusName}}</td>
                <td>
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success"
                    style="margin-right: 5px;" (click)="openAppointmentDetails(appointment.id)"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabPanel>
        <p-tabPanel header="Cancel">
          <p-table [value]="cancelAppointment" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
              <tr>
                <th>Patient</th>
                <th>Date</th>
                <th>Hour</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-appointment>
              <tr>
                <td>{{appointment.patientName}}</td>
                <td>{{appointment.date | date}}</td>
                <td *ngIf="appointment.hour">{{appointment.hour}}:00</td>
                <td>{{appointment.statusName}}</td>
                <td>
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success"
                    style="margin-right: 5px;" (click)="openAppointmentDetails(appointment.id)"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabPanel>
        <p-tabPanel header="History">
          <p-table [value]="listAppointment" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
              <tr>
                <th>Patient</th>
                <th>Date</th>
                <th>Hour</th>
                <th>Status</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-appointment>
              <tr>
                <td>{{appointment.patientName}}</td>
                <td>{{appointment.date | date}}</td>
                <td *ngIf="appointment.hour">{{appointment.hour}}:00</td>
                <td>{{appointment.statusName}}</td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
<app-main-footer></app-main-footer>