<div class="w-auto">
  <div class="w-3/5 mx-auto">
    <p-tabView>
      <p-tabPanel header="Coming">
        <table class="w-1/2 mx-auto">
          <tr>
            <td>ID</td>
            <td>Address</td>
            <td>Name</td>
            <td>Action</td>
          </tr>
          <tr>
            <td>2391</td>
            <td>HCM</td>
            <td>Phuc</td>
            <td></td>
          </tr>
        </table>
        &nbsp;
      </p-tabPanel>
      <p-tabPanel header="Cancel">
        <table class="w-1/2 mx-auto">
          <tr>
            <td>ID</td>
            <td>Address</td>
            <td>Name</td>
            <td>Action</td>
          </tr>
          <tr>
            <td>2392</td>
            <td>Ha Noi</td>
            <td>Tuan</td>
            <td></td>
          </tr>
        </table>
        &nbsp;
      </p-tabPanel>
      <p-tabPanel header="History">
        <table class="w-1/2 mx-auto">
          <tr>
            <td>ID</td>
            <td>Address</td>
            <td>Name</td>
            <td>Action</td>
          </tr>
          <tr>
            <td>2931</td>
            <td>HCM</td>
            <td>Nam</td>
            <td></td>
          </tr>
        </table>
        &nbsp;
      </p-tabPanel>
    </p-tabView>
  </div>
</div>